.keywordImg {
    max-width:100%;
}
.keyword-grid{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}
.keyword-section1 {
    box-sizing: border-box;
    margin-top: 16vw;
    padding-top: 1.6vw;
    padding-left: 23vw;
    width: 50%; 
    height: 50%;
    float: left; 
    background-color:#F8EDDD;
}
.keyword-section2 {
    box-sizing: border-box;
    margin-top: 16vw;
    padding-top: 1.85vw;
    padding-left: 3vw;
    width: 50%; 
    height: 50%; 
    float: left;
    background-color: #F8EDDD;
}
.keyword-eng{
    overflow: hidden;
}
.safe{
    animation: right-animation 1s;
    font-size: 3.8vw;
    margin-bottom: 0;
    font-weight: 500;
    font-family:"Montserrat";
}
.enjoy{
    animation: left-animation 1s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    overflow: hidden;
    font-size:3.8vw;
    margin :0;
    font-weight: 500;
    font-family:"Montserrat";
}
.infinite{
    animation: right-animation 1s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    font-size: 3.8vw;
    margin :0;
    font-weight: 500;
    font-family:"Montserrat";
}
.text-safe{
    animation: text-animation 1s;
    font-size: 3.2vw;
    margin-bottom: 0;
    font-weight: 100;
    font-family:"NotoSans";
}
.text-enjoy{
    animation: text-animation 1s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    font-size: 3.2vw;
    margin :0;
    padding-top: 0.5vw;
    font-weight: 100;
    font-family:"NotoSans";
}
.text-infinite{
    animation: text-animation 1s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    font-size: 3.2vw;
    margin :0;
    padding-top: 0.5vw;
    font-weight: 100;
    font-family:"NotoSans";
}
@keyframes right-animation{
    from{
        margin-left:0.4em;
        opacity: 0;
    }
    to{ 
        margin-left: 0;
        opacity: 100%;
    }
}
@keyframes left-animation{
    from{
        margin-left:-0.4em;
        opacity: 0; 
    }
    to{ 
        padding-left: 0;
        opacity: 100%;
    }
}
@keyframes text-animation{
    from{
        margin-right:4.5%;
        opacity: 0;
    }
    to{ 
        opacity: 100%;
    }
}