.materialText{
    position: relative;
    padding-top: 8%;
    margin:0px;
	text-align:center;
	font-family:"NotoSans Bold";
	font-weight:600;
	font-size:2.8vw;
	color:#363636;
}
.materialImg{
    display: block;
    width: 32%;
    position: relative;
    margin-top: -24%;
    margin-left: auto;
    margin-right: auto;
}
.slider{
    padding-top: 13vw;
}
.sliderItem{
    width: 8vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sliderItemText{
    text-align: center;
	font-family:"Montserrat";
	font-weight:350;
    font-size:1.3vw;
	color: #363636;
}