html,body {
	margin:0vw;
	padding:0vw;
	height:100%;
	width: 100%;
}
.section100 {
	display: flow-root;
	max-width:100%;
	height:100%;
	background:white;
}
.section50 {
	display: flow-root;
	max-width:100%;
	height:50%;
	background:olivedrab;
}
.left-aside100 {
	width:15%;
	height:100%;
	float:left;
	background:white;
}
.right-aside100 {
	width:15%;
	height:100%;
	float:right;
	background:white;
}
.left-aside50 {
	width:15%;
	height:450%;
	float:left;
	background:white;
}
.right-aside50 {
	width:15%;
	height:450%;
	float:right;
	background:white;
}
@font-face {
	font-family:"Montserrat";
	font-weight:10;
	font-style:normal;
	src:url("../font/Montserrat-Regular.woff") format('woff');
}
@font-face {
	font-family:"Montserrat Bold";
	font-weight:10;
	font-style:normal;
	src:url("../font/Montserrat-Bold.woff") format('woff');
}
@font-face {
	font-family:"NotoSans Bold";
	font-weight:10;
	font-style:normal;
	src: url("../font/NotoSans-Bold.ttf") format("ttf");
}