html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
table{
    width: 28vw;
    height: 32vw;
    margin-left: 15%;
	font-family:"Montserrat";
	font-weight:500;
    font-size:1vw;
    line-height: 150%;
	color: #363636;
}
.structure-img{
    width: 12vw;
    height: 12vw;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 3px #bdbdbd);
    margin-top: -0.5vw;

}
.structure-maintext{
    margin-top: 8vw;
    padding-left: 4.5vw;
	font-family:"NotoSans Bold";
	font-weight:600;
	font-size:2.8vw;
	color:#363636;
}
.structure-subtext{
    font-family:"Montserrat";
    margin:0px;
    text-align:left;
    padding-top: 2.5vw;
    padding-left: 4.5vw;
	font-family:"Montserrat";
	font-weight:349;
    font-size:1.3vw;
    line-height: 150%;
	color: #363636;
}