.introductionImg {
	width:800px;
	height:625px;
	position:absolute;
	top:145%;
	left:78%;
	transform:translate(-57%,-50%);
}
.introductionBar {
	width:82px;
	height:8px;
	background-color:#6C804B;
	position:absolute;
	top:137%;
	left:41%;
	transform:translate(-425%,-50%);
}
.introductionText1 {
	margin:0px;
	text-align:left;
	position:absolute;
	top:130%;
	left:41%;
	transform:translate(-57%,-50%);
	font-family:"NotoSans Bold";
	font-weight:600;
	font-size:50px;
	color:#363636;
}
.introductionText2 {
	margin:0px;
	text-align:left;
	position:absolute;
	top:156%;
	left:41%;
	transform:translate(-52%,-50%);
	font-family:"Montserrat";
	font-weight:349;
    font-size:23px;
    line-height: 150%;
	color: #363636;
}