.introductionImg {
	width:800px;
	height:625px;
	margin-top: -510px;
    padding-left: 40em;
}
.introductionBar {
	width:82px;
	height:8px;
	background-color:#6C804B;
	margin-top: 1.8em;
	margin-left: 7.5em;
}
.introductionText1 {
	margin:0px;
	text-align:left;
	padding-top: 5em;
	padding-left: 2.35em;
	font-family:"NotoSans Bold";
	font-weight:600;
	font-size:50px;
	color:#363636;
}
.introductionText2 {
	margin:0px;
	text-align:left;
	padding-top: 3em;
	padding-left: 5.2em;
	font-family:"Montserrat";
	font-weight:349;
    font-size:23px;
    line-height: 150%;
	color: #363636;
}