.materialText{
    position: relative;
    padding-top: 16%;
    margin:0px;
	text-align:center;
	font-family:"NotoSans Bold";
	font-weight:600;
	font-size:2.8vw;
	color:#363636;
}
.materialImg{
    display: block;
    width: 40%;
    position: relative;
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
}
.slider{
    margin-top: -30em;
}
.sliderItem{
    width: 12vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sliderItemText{
    text-align: center;
	font-family:"Montserrat";
	font-weight:349;
    font-size:1.3vw;
	color: #363636;
}