html,body {
	margin:0px;
	padding:0;
	height:100%;
}
.header {
	width:100%;
	height:100%;
	position:relative;
}
.section100 {
	box-sizing:border-box;
	width:70%;
	height:100%;
	float:left;
	background:white;
}
.section50 {
	box-sizing:border-box;
	padding:10px;
	width:70%;
	height:50%;
	float:left;
	background:olivedrab;
}
.left-aside {
	width:15%;
	height:650%;
	float:left;
	background:white;
}
.right-aside {
	width:15%;
	height:650%;
	float:right;
	background:white;
}
@font-face {
	font-family:"Montserrat";
	font-weight:10;
	font-style:normal;
	src:url("Montserrat-Regular.woff") format("woff");
}
@font-face {
	font-family:"Montserrat Bold";
	font-weight:10;
	font-style:normal;
	src:url("Montserrat-Bold.woff") format("woff");
}
@font-face {
	font-family:"NotoSans Bold";
	font-weight:10;
	font-style:normal;
	src: url("NotoSans-Bold.ttf") format("ttf");
}